<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>SiberianEhr by ilizunov</title>
    <link rel="stylesheet" href="{{ site.root }}stylesheets/styles.css">
    <link rel="stylesheet" href="{{ site.root }}stylesheets/pygment_trac.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="{{ site.root }}javascripts/respond.js"></script>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ site.root }}stylesheets/ie.css">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

</head>
<body>
<div id="header">
    <nav>
        <li class="fork"><a href="https://github.com/ilizunov/SiberianEhr">View On GitHub</a></li>
        <li class="downloads"><a href="https://github.com/ilizunov/SiberianEhr/zipball/master">ZIP</a></li>
        <li class="downloads"><a href="https://github.com/ilizunov/SiberianEhr/tarball/master">TAR</a></li>
        <li class="title">DOWNLOADS</li>
    </nav>
</div>
<!-- end header -->

<div class="wrapper">
    <section>
        {{ content }}
    </section>
</div>
<!--[if !IE]>
<script>fixScale(document);</script><![endif]-->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27774651-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
